nav {
background: rgba(182,182,237,1);
background: -moz-linear-gradient(left, rgba(182,182,237,1) 0%, rgba(113,115,239,1) 21%, rgba(34,43,226,1) 51%, rgba(182,182,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(182,182,237,1)), color-stop(21%, rgba(113,115,239,1)), color-stop(51%, rgba(34,43,226,1)), color-stop(100%, rgba(182,182,237,1)));
background: -webkit-linear-gradient(left, rgba(182,182,237,1) 0%, rgba(113,115,239,1) 21%, rgba(34,43,226,1) 51%, rgba(182,182,237,1) 100%);
background: -o-linear-gradient(left, rgba(182,182,237,1) 0%, rgba(113,115,239,1) 21%, rgba(34,43,226,1) 51%, rgba(182,182,237,1) 100%);
background: -ms-linear-gradient(left, rgba(182,182,237,1) 0%, rgba(113,115,239,1) 21%, rgba(34,43,226,1) 51%, rgba(182,182,237,1) 100%);
background: linear-gradient(to right, rgba(182,182,237,1) 0%, rgba(113,115,239,1) 21%, rgba(34,43,226,1) 51%, rgba(182,182,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b6ed', endColorstr='#b6b6ed', GradientType=1 );
}