<section ng-controller="NewBasics.controller">
   <div class="container">
    <h1>New Patient</h1>
    <form action="">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="name">First Name</label>
          <input id="name" type="text" class="validate">
          <label for="name">Middle Initial</label>
          <input id="name" type="text" class="validate">
          <label for="name">Last Name</label>
          <input id="name" type="text" class="validate">
          <label for="name">Date of Birth</label>
          <input id="name" type="text" class="validate">
          <label for="name">Sex</label>
        </div>
    </form>
   </div> 
</section>
